<div class = "container">
  <h2>User: <%= @user.username %></h2>

  <div>
    <h3>To do:</h3>
    <%= render @items %>
  </div>
  <% if current_user %>
    <%= render 'items/form', item: Item.new, user: @user %>
  <% end %>
</div>
